.menu {
  padding: 10px 20px;
  background-color:antiquewhite;
}

.entrantes,
.platosDeFondo {
  margin: 20px;
}

.menu h3 {
  font-style: italic;
}

.menu-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.menu-item {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;

  flex-basis: calc(50% - 10px); /* Cada columna ocupa el 50% menos el margen */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.item-details {
  flex: 1; /* Ocupa todo el espacio disponible en la columna izquierda */
  text-align: left;
}

.item-price {
  min-width: 80px; /* Ancho mínimo para el precio */
  text-align: right; 
  font-weight: bold;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .menu-item {
    flex-basis: 100%; /* Cada columna ocupa el 100% en móviles */
  }
}
